html {
  min-height: 100vh;
}

body {
  background: linear-gradient(to top, #dfdbf1 0%, #607983 100%);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #6b818c;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(26, 23, 23, 1);
}
