.about {
  margin-top: 7rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  font-size: 4rem;
  text-align: center;
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.column-two-thirds {
  flex: 2;
  padding-right: 1rem;
  padding-bottom: 1rem;
  text-align: justify;
}

.column-one-third {
  flex: 1;
  text-align: center;
}

.about-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.25rem;
  padding: 1rem;
  text-indent: 2rem;
}

.headshot {
  object-fit: contain;
  width: 75%;
  height: auto;
}

.stack-header-box {
  width: 100%;
  margin-top: 1rem;
}

.stack-header {
  margin-left: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}

.icons-box {
  display: flex;
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .about-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .column-two-thirds {
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
  }

  .column-one-third {
    margin-top: 1rem;
  }

  .about-text {
    font-size: 1.15rem;
    text-align: left;
  }
}
