.card-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  max-width: 20rem;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-color: lightgray;
}

.card-img {
  object-fit: cover;
  max-width: 20rem;
  max-height: 20rem;
  height: auto;
  padding: 1rem;
}

.card-content {
  padding: 1.1rem;
}

.card-title {
  margin-top: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.card-text {
  margin-bottom: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
